 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("/images/pexels-photo-3136673.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: FCFastBold;
  font-style: italic;
  font-weight: normal;
  margin: 337px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: LexendMega-VariableFont_wght;
  font-weight: 700;
  margin: 11px 57px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0;
  padding: 10px 21px 10px 20px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 204px auto 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 829px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 777px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 60px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 456px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(#1a1a1a, black);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 9px 0;
}

.u-section-2 .u-text-3 {
  background-image: none;
  width: 225px;
  margin: 28px auto 106px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 10px 21px 10px 20px;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(#1a1a1a, black);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 9px 0;
}

.u-section-2 .u-text-6 {
  background-image: none;
  width: 225px;
  margin: 28px auto 31px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 10px 21px 10px 20px;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(#1a1a1a, black);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 9px 0;
}

.u-section-2 .u-text-9 {
  background-image: none;
  width: 225px;
  margin: 28px auto 106px;
}

.u-section-2 .u-text-10 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 10px 21px 10px 20px;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  width: 777px;
  margin: 44px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 331px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 11px;
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 35px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-11 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 88px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-11 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 654px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 254px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 30px 266px 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 254px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 150px 0 0 66px;
}

.u-section-3 .u-gallery-1 {
  height: 240px;
  margin: 40px 0 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 44px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1024px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 645px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 729px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 630px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 20px 0 0;
}

.u-section-4 .u-group-1 {
  margin-top: 29px;
  margin-bottom: 0;
  min-height: 195px;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 609px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 470px;
  height: 470px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 224px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 792px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  width: 338px;
  text-transform: none;
  margin: 90px auto 0;
}

.u-section-5 .u-text-2 {
  width: 731px;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 891px;
  margin: 42px auto 60px;
}

.u-section-5 .u-accordion-link-1 {
  font-weight: 700;
  background-image: none;
  padding: 20px 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 76px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-5 .u-accordion-link-2 {
  font-weight: 700;
  background-image: none;
  padding: 20px 30px;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 76px;
  height: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-3 {
  font-weight: 700;
  background-image: none;
  padding: 20px 30px;
}

.u-section-5 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 76px;
  height: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-4 {
  font-weight: 700;
  background-image: none;
  padding: 20px 30px;
}

.u-section-5 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 76px;
  height: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 507px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 45px 0 59px;
}

.u-section-6 .u-image-1 {
  min-height: 403px;
  background-image: url("/images/847745.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 307px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-6 .u-image-1 {
    min-height: 254px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-6 .u-image-1 {
    min-height: 286px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-6 .u-image-1 {
    min-height: 180px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 613px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 67px auto 67px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px 20px 20px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 37px auto 0 0;
  padding: 10px 21px 10px 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-form-1 {
  height: 312px;
  width: 530px;
  margin: 0;
}

.u-section-7 .u-input-1 {
  background-image: none;
}

.u-section-7 .u-input-2 {
  background-image: none;
}

.u-section-7 .u-input-3 {
  background-image: none;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 63px;
  min-width: 42px;
  margin: 60px 467px 0 0;
}

.u-section-7 .u-icon-1 {
  height: 26px;
}

.u-section-7 .u-icon-2 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-text-3 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-7 .u-form-1 {
    width: 430px;
  }

  .u-section-7 .u-social-icons-1 {
    height: 28px;
    width: 66px;
    margin-right: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }

  .u-section-7 .u-social-icons-1 {
    height: 29px;
    width: 68px;
    margin-right: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-social-icons-1 {
    height: 27px;
    width: 64px;
    margin-right: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-social-icons-1 {
    margin-right: 293px;
  }
}@font-face {
  font-family: 'FCFastBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FCFastBold.otf);
}@font-face {
  font-family: 'LexendMega-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LexendMega-VariableFont_wght.ttf);
}